image: Visual Studio 2017

platform: 
  - x64
  - x86

configuration:
  - Debug
  - Release

environment:
  matrix:
  - VS_VERSION: Visual Studio 12 2013
    QT_VERSION: 5.6
    QT_COMPILED: msvc2013
    
  - VS_VERSION: Visual Studio 12 2013
    QT_VERSION: 5.7
    QT_COMPILED: msvc2013
    
  - VS_VERSION: Visual Studio 14 2015
    QT_VERSION: 5.6
    QT_COMPILED: msvc2015
    
  - VS_VERSION: Visual Studio 14 2015
    QT_VERSION: 5.9
    QT_COMPILED: msvc2015
    
  - VS_VERSION: Visual Studio 15 2017
    QT_VERSION: 5.11
    QT_COMPILED: msvc2017

before_build:
  - if "%platform%" == "x64" set VS_FULL=%VS_VERSION% Win64
  - if "%platform%" == "x64" set QTDIR=C:\Qt\%QT_VERSION%\%QT_COMPILED%_64
  - if "%platform%" == "x86" set VS_FULL=%VS_VERSION%
  - if "%platform%" == "x86" set QTDIR=C:\Qt\%QT_VERSION%\%QT_COMPILED%
  - set PATH=%PATH%;%QTDIR%\bin;
  - mkdir build
  - cd build
  - cmake -G "%VS_FULL%" -DCMAKE_BUILD_TYPE=debug -DBUILD_SHARED_LIBS=OFF ..
  - dir
  
build_script:
  - cmake --build . --target install
  
test_script:
  - ctest -C Debug

